.MetricButton {
  display: flex;
  background-color: var(--color-light);
  border: none;
  align-items: center;
  justify-content: space-around;
  padding: 0.6rem;
}

.MetricButton > * {
  flex: 1;
}

.MetricButton .info {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 0.4rem;
  font-size: 0.8rem;
  color: var(--color-font-light);
}

.MetricButton .info .metrics {
  font-size: 1.5rem;
  color: var(--color-font);
}

.icon {
  color: var(--color-primary);
}
